<!DOCTYPE html>
<html lang="ru">

{{> head
  title="Users"
  styleSheets='<link rel="stylesheet" href="../../CSS/BrowserReset.css">
                 <link rel="stylesheet" href="../../extraPagesCSS/Menu.css">'
  description="Меню ресторана европейской кухни в Санкт-Петербурге MyRest"
  keywords="Меню, MyRest, ресторан, еда, европейская кухня, Мишлен, Санкт-Петербург, вкусно поесть"
  scripts='<script src="../../JS/GetActiveElement.js"></script>'
}}
<body class="page">
{{> header }}
<main class="main-content">
  {{> userOptionList }}
  <section class="main-content__menu_table" >
    <table class="main-content__menu_table">
      <caption class="menu__title">Все пользователи</caption>
      <thead class="menu__header">
      <tr class="menu__row">
        <th class="menu__item menu__column-header">Имя</th>
        <th  class="menu__item menu__column-header">Фамилия</th>
        <th  class="menu__item menu__column-header">Роль</th>

      </tr>
      </thead>
      <tbody class="menu__body">
      {{#each users}}
        <tr class="menu__row">
          <td class="menu__item menu__row-header"><a href="/user/{{this.id}}">{{ this.firstName }}</a></td>
          <td class="menu__item">{{ this.lastName }}</td>
          <td class="menu__item">{{ this.role }}</td>
        </tr>
      {{/each}}
      </tbody>

    </table>
    <button class="dish_button" type="button">
      <a href="/user/create"> Добавить пользователя</a>
    </button>
  </section>
</main>
{{> footer }}
</body>
</html>