<!DOCTYPE html>
<html lang="ru">

{{> head
  title="UserCreate"
  styleSheets='<link rel="stylesheet" href="../../CSS/BrowserReset.css">
                 <link rel="stylesheet" href="../../extraPagesCSS/Menu.css">'
  description="Меню ресторана европейской кухни в Санкт-Петербурге MyRest"
  keywords="Меню, MyRest, ресторан, еда, европейская кухня, Мишлен, Санкт-Петербург, вкусно поесть"
  scripts='<script src="../../JS/GetActiveElement.js"></script>
            <script src="../../JS/User/UpdateUser.js" defer></script>'
}}
<body class="page">
{{> header }}
<main class="main-content">
  {{> userOptionList }}
  <section class="main-content__menu_table" >
    <table id="editableTable" class="main-content__menu_table">
      <thead class="menu__header">
      <tr class="menu__row">
        <th class="menu__item menu__column-header">Имя</th>
        <th  class="menu__item menu__column-header">Фамилия</th>
        <th  class="menu__item menu__column-header">Роль</th>
      </tr>
      </thead>
      <tbody class="menu__body">
      <tr id="row_to_add" class="menu__row">
        <td class="menu__item menu__row-header"><input type="text"  id="firstName" value="{{ user.firstName}}"></td>
        <td class="menu__item"><input type="text"  id="lastName" value="{{ user.lastName}}"></td>
        <td class="menu__item"><input type="text"  id="role" value="{{ user.role}}"></td>
      </tr>
      </tbody>

    </table>
    <button id="submitButton" class="dish_button" type="button" data-id="{{user.id}}">
      <a href="/user/all">Изменить</a>
    </button>
  </section>
</main>
{{> footer }}
</body>

</html>