<footer class="footer_content">
  <section>
    <p class="footer__header">Контакты</p>
    <ul>
      <li> https://t.me/MyRest </li>
      <li> MyRest@mail.ru </li>
    </ul>
  </section>

  <section>
    Time load <p id="footer_content__loading_time"></p>
  </section>

  <p>
    г. Санкт-Петербург, ул. Московская, 1
  </p>

</footer>