<nav class="main-content__rest-options-container">
  <ul class="main-content__rest-user-options-list">
    {{> userOption id="menu" href="/dish/Menu" text="Меню" }}
    {{> userOption id="booking" href="/reservation/all" text="Бронь" }}
    {{> userOption id="delivery" href="/order/all" text="Доставка" }}
  </ul>
</nav>