@import "ExtraPageTemplate.css";

.main-content__booking_info {
    grid-area: 1 / 1 / span 1 / span 1;
}
.active {
    background-color: brown;
}

@media only screen  and (max-width: 700px)  {
    .main-content__booking_info {
        font-size: 100%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1500px) {
    .main-content__booking_info {
        font-size: 150%;
    }
}

.reservation_button {
    height: 8%;
    width: 100%;
    background-color: antiquewhite;
    margin-top: 1%;
    font-size: 90%;
}
.menu__title {
    font-size: 90%;
}



