<!DOCTYPE html>
<html lang="ru">

{{> head
  title="Reviews"
  styleSheets='<link rel="stylesheet" href="../../CSS/BrowserReset.css">
                   <link rel="stylesheet" href="../extraPagesCSS/Reviews.css">'
  description="Отзывы о ресторане европейской кухни в Санкт-Петербурге MyRest"
  keywords="Отзывы, MyRest, ресторан, еда, европейская кухня, Мишлен, Санкт-Петербург, вкусно поесть"
  scripts='<script src="../../JS/Fetch.js"></script>
          <script src="../../JS/Review/ReviewDelete.js" defer></script>'
}}
<body class="page">
{{> header }}
<main>
<section class="main-content">
  {{> userOptionList }}
  <section>
  <section class="grid_item" >
    <div class="review_content">{{ review.content }}</div>
  </section>
    <button class="review_button grid_item" type="button">
      <a href="/review/update/{{ review.id }}">Изменить</a>
    </button>
    <button id="deleteButton" class="review_button grid_item" type="button" data-id="{{ review.id }}">
      <a href="/review/all">Удалить</a>
    </button>
</section>
</section>

</main>

{{> footer }}
</body>
</html>